@use "./variables" as v;

@mixin card-style {
  background: v.$dark-alt;
  padding: 18px;
  border-radius: 10px;
  overflow: hidden;
}

@mixin d-flex($align, $justify, $wrap, $gap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin icons($bg, $color) {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: $bg;
  border-radius: 4px;
  color: $color;
  transition: 0.5s all ease;
}
