@use "../abstract/variables" as v;
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: v.$primary transparent;
  scrollbar-width: thin;
}
*::selection {
  background: v.$primary;
  color: v.$light;
}
::-webkit-scrollbar {
  width: 5px;
  background: v.$dark;
}
::-webkit-scrollbar-thumb {
  background: v.$primary;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: v.$sans-serif;
  background: v.$dark;
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}

p {
  a {
    color: v.$light-alt;
    transition: 0.4s all ease;

    &:hover {
      color: v.$primary;
      text-decoration: none;
    }
  }
}

img,
video {
  width: 100%;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: v.$light-alt;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.section {
  width: 100%;
  padding: 140px 0;
  position: relative;
  //   overflow: hidden;
}

@media (min-width: v.$lg-breakpoint) {
  .container {
    width: 100%;
    padding: 0 100px;
  }

  .container-fluid {
    width: 100%;
    padding: 0 40px;
  }
}

@media (max-width: v.$lg-breakpoint) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .container-fluid {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: v.$md-breakpoint) {
  .container {
    width: 100%;
    padding: 0 30px;
  }

  .container-fluid {
    width: 100%;
    padding: 0 20px;
  }
}
