@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

// .heading {
//     font-size: 35px;
//     color: v.$light;
//     font-weight: bold;
//     font-family: v.$sans-serif-alt;
//     margin-bottom: 20px;
//     line-height: 140%;

//     .first-head {
//       // -webkit-text-fill-color: transparent;
//       // -webkit-text-stroke: 1px v.$light;
//       letter-spacing: 2px;
//     }
//   }

.heading {
  display: block;
  color: #fff;
  font-weight: bold;
  font-family: v.$sans-serif-alt;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 120%;

  @media (max-width: v.$sm-breakpoint) {
    font-size: 26px;
  }

  span {
    color: v.$primary;
  }

  // .first-head {
  //   -webkit-text-fill-color: transparent;
  //   -webkit-text-stroke: 1px v.$light;
  //   letter-spacing: 2px;
  // }
}

.sub-heading {
  color: #fff;
  font-family: Bricolage Grotesque;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%;
  letter-spacing: 3.2px;

  span {
    display: inline-block;
    width: 70px;
    height: 3px;
    background: v.$primary;
    margin-bottom: 3px;
  }
}

// Text Alignment

.text {
  &-center {
    text-align: center;
  }
  &-start {
    text-align: start;
  }
  &-end {
    text-align: end;
  }
}

// Display flex
.d-flex {
  display: flex;
  flex-wrap: wrap;

  &.align-items-center {
    align-items: center;
  }
  &.align-items-start {
    align-items: flex-start;
  }
  &.align-items-end {
    align-items: flex-end;
  }
  &.justify-content-start {
    justify-content: start;
  }
  &.justify-content-end {
    justify-content: end;
  }
  &.justify-content-center {
    justify-content: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
}
