@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.form-control,
.form-select {
  display: block;
  border-radius: 7px;
  width: 100%;
  border: 1px solid v.$light-alt;
  background: v.$light-alt;
  color: v.$dark-alt;
  font-family: v.$sans-serif;
  padding: 14px 20px;
  font-size: 16px;
}
