@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.hero {
  &.about-hero {
    position: relative;
    background: v.$dark;
    min-height: 400px;
    height: 50vh;
    overflow: hidden;

    .hero-image {
      min-height: 400px;
      height: 50vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.5;
      }
    }

    .flip-animate {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      width: 45%;
      height: 100%;
      opacity: 0.6;
    }
  }
}

// Skills Information

.skills-info {
  position: relative;

  .information {
    position: relative;

    .info-links {
      position: -webkit-sticky;
      position: sticky;
      top: 100px;
      margin-top: 100px;

      .tab-links {
        display: inline-block;
        color: v.$light-alt;
        font-size: 26px;
        margin-bottom: 15px;
        font-family: v.$sans-serif-alt;
        cursor: pointer;
        transition: 0.5s all ease;
        padding-left: 10px;
        letter-spacing: 1px;
        font-weight: 500;

        &.active {
          color: v.$primary;
          border-left: 5px solid v.$primary;
        }
      }
    }

    .about-info {
      margin-bottom: 30px;

      .info {
        margin-left: -50px;

        @media (max-width: v.$lg-breakpoint) {
          margin-left: 0;
        }
      }

      .heading {
        padding-top: 100px;
      }

      .icon {
        @include m.icons(v.$primary, v.$light);
        font-size: 20px;
      }

      h5 {
        color: v.$light;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 400;
        font-family: v.$sans-serif-alt;
      }

      h4 {
        color: v.$primary;
        font-size: 28px;
        font-weight: 500;
        font-family: v.$sans-serif-alt;
        margin-bottom: 15px;
        letter-spacing: 1px;
        line-height: 38px;

        @media (max-width: v.$sm-breakpoint) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      h6 {
        color: v.$light-alt;
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 500;
        font-family: v.$sans-serif-alt;
        opacity: 0.8;
      }

      .skills-logo {
        @include m.d-flex(flex-start, flex-start, wrap, 20px);

        img {
          //   display: block;
          width: 100px;
          background: v.$dark-alt;
          padding: 20px;
          border-radius: 10px;
          margin-bottom: 20px;
          cursor: pointer;
        }
      }
    }

    hr {
      color: v.$light-alt;
      opacity: 0.3;
    }
  }
}
