@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.contact {
  //   padding: 200px 0 100px 0;

  .card {
    @include m.card-style;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      background: v.$primary;
      width: 3px;
      height: 25px;
    }
  }

  .info {
    .info-card {
      h5 {
        font-size: 18px;
        color: v.$light-alt;
        font-family: v.$sans-serif-alt;
        font-weight: 300;
      }
    }
    .icon-info {
      @include m.icons(v.$primary, v.$light);
    }
    a {
      color: v.$light;

      &:hover {
        color: v.$primary;
      }
    }

    .social-icons {
      @include m.d-flex(flex-start, flex-start, nowrap, 15px);
      a {
        @include m.icons(v.$dark-alt, v.$primary);

        &:hover {
          background: v.$primary;
          color: v.$light;
        }
      }
    }
  }
}
