@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

// Hero Section
.hero {
  position: relative;
  background: v.$light;
  min-height: 600px;
  height: 100vh;
  overflow: hidden;

  .image {
    min-height: 600px;
    height: 100vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #02121870;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .text {
    position: absolute;
    top: 25%;
    right: 100px;

    h4 {
      color: v.$light;
      font-family: v.$cursive;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 35px;
      color: v.$light;
    }

    h5 {
      color: v.$light;
      font-family: v.$cursive-alt;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 15px;
      text-align: end;
    }
  }
}

// Destination

.destination {
  background: v.$light;

  .card {
    background: v.$light;
    position: relative;

    .image {
      background: v.$light;
      height: 120px;
      border: 2px solid v.$primary;
      padding: 3px;
      position: relative;
      transition: 0.5s all ease;
      cursor: pointer;

      .batch {
        background: v.$primary;
        color: v.$light;
        font-size: 14px;
        padding: 5px 10px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s all ease;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text {
      text-align: center;
      margin-top: 20px;
      h4 {
        font-weight: 600;
        font-size: 20px;
        color: v.$dark;
        transition: 0.5s all ease;
      }
    }
    &:hover {
      .image {
        border-color: v.$secondary;
        transform: scale(1.07);
      }

      .batch {
        background: v.$secondary;
        color: v.$dark;
      }

      h4 {
        color: v.$secondary;
      }
    }
  }
}

// Offers

.offers {
  background: var(--primary);

  .card {
    position: relative;
    height: 440px;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid v.$light;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.5s all ease;
    }

    .info {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      z-index: 2;

      img {
        position: relative;
        top: -10px;
      }

      .text {
        position: absolute;
        left: 50%;
        top: 20px;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
        z-index: 3;

        h5 {
          font-size: 18px;
          color: v.$light;
          margin-bottom: 10px;
          font-weight: 400;
        }
        h3 {
          font-size: 24px;
          color: v.$light;
          margin-bottom: 10px;
          font-weight: bold;
          font-family: v.$cursive-alt;
        }
        h6 {
          font-size: 16px;
          color: v.$light;
          font-weight: 400;
        }
      }

      &.even-info {
        top: 0;
        transform: translateY(136%);

        img {
          position: relative;
          top: 10px;
        }

        .text {
          position: absolute;
          top: calc(100% - 100px);
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.07);
      }
    }
  }
}

// About

.about {
  background: v.$light-alt;

  .images {
    img {
      border-radius: 4px;
      box-shadow: 0 0 15px #02121834;
    }
  }

  .text {
    text-align: start;

    .info {
      .icon-row {
        flex-wrap: nowrap;
        margin-bottom: 10px;
      }
      .icon {
        background: v.$primary;
        border-radius: 4px;
        height: 60px;
        width: 60px;
        padding: 10px;
      }
      h4 {
        font-size: 18px;
        font-weight: 600;
        color: v.$dark;
      }
    }
  }
}

// We are the best
.we-are-best {
  background: v.$light;

  .accordian {
    margin-bottom: 30px;

    .head {
      h4 {
        background: v.$light-alt;
        padding: 15px 20px;
        margin-bottom: 15px;
        color: v.$dark;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        img {
          width: 28px;
          margin-right: 7px;
        }
      }
    }

    p {
      padding: 15px 20px;
    }
  }
}
