@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

// Hero Section
.hero {
  position: relative;
  background: v.$light;
  min-height: 600px;
  height: 100vh;
  overflow: hidden;

  .image {
    min-height: 600px;
    height: 100vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #02121870;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .text {
    position: absolute;
    top: 25%;
    right: 100px;

    h4 {
      color: v.$light;
      font-family: v.$cursive;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 35px;
    }

    h5 {
      color: v.$light;
      font-family: v.$cursive-alt;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 15px;
      text-align: end;
    }
  }
}
