@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.hero-section {
  position: relative;
  min-height: 250px;
  height: 25vh;

  .image {
    min-height: 250px;
    height: 25vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #02121880;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      justify-content: center;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: v.$light;
  }

  .breadcrumb {
    gap: 10px;

    p {
      font-size: 16px;
      font-weight: 500;
      color: v.$light-alt;

      a {
        color: v.$secondary;

        &:hover {
          color: v.$primary;
        }
      }
    }

    span {
      color: v.$light;
    }
  }
}

// Hotels

.hotel-list {
  .hotels {
    padding: 50px 0;

    .card {
      .image {
        border-radius: 4px;
        height: 160px;
        overflow: hidden;
        position: relative;
        transition: 0.5s all ease;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(#ffffff00, #ffffff41, #ffffffd2);
          opacity: 0;
          transition: 0.5s all ease;
        }

        &:hover {
          img {
            transform: scale(1.07);
          }

          &::after {
            opacity: 1;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          transition: 0.5s all ease;
        }
      }
      .buttons {
        margin-top: 10px;
        gap: 15px;

        .button {
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 300;

          &:nth-child(1) {
            background: v.$primary;
            border-color: v.$primary;
            color: v.$light;

            // &:hover {
            //   background: v.$dark-alt;
            //   border-color: v.$dark-alt;
            // }
          }

          &:hover {
            background: v.$dark-alt;
            border-color: v.$dark-alt;
          }
        }
      }

      .text {
        display: block;
        margin-bottom: 15px;

        .head {
          margin-bottom: 7px;

          h3 {
            font-size: 20px;
            color: v.$dark;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            max-width: 48%;
          }
          span {
            font-size: 14px;
            margin-left: 8px;
            color: v.$dark-alt;
          }
        }
        .breadcrumb {
          gap: 10px;
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .rates {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 7px;
        margin-bottom: 12px;

        svg {
          color: #f8cd0f;
        }
      }

      .link .icon {
        color: rgb(238, 111, 111);
        margin-right: 5px;
      }
    }
  }

  .gallery {
    position: sticky;
    top: 100px;
    .line {
      background: v.$secondary;
      height: 4px;
      width: 100%;
      margin-bottom: 40px;
    }
    .gallery-card {
      margin-bottom: 25px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-fit: center;
      }
      .text {
        h5 {
          font-size: 18px;
          margin-bottom: 7px;
          font-weight: 500;
          // display: -webkit-box;
          // -webkit-line-clamp: 1;
          // -webkit-box-orient: vertical;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 15px;
        }
      }
    }
  }
}
