@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.hero-section {
  position: relative;
  min-height: 250px;
  height: 25vh;

  .image {
    min-height: 250px;
    height: 25vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #02121880;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      justify-content: center;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: v.$light;
  }

  .breadcrumb {
    gap: 10px;

    p {
      font-size: 16px;
      font-weight: 500;
      color: v.$light-alt;

      a {
        color: v.$secondary;

        &:hover {
          color: v.$primary;
        }
      }
    }

    span {
      color: v.$light;
    }
  }
}

// Hotels

.hotel-list {
  .hotels {
    padding: 50px 0;

    .card {
      .image {
        img {
          border-radius: 4px;
        }
      }
      .buttons {
        margin-top: 10px;
        gap: 15px;

        .button {
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 300;

          &:nth-child(1) {
            background: v.$primary;
            border-color: v.$primary;
            color: v.$light;

            // &:hover {
            //   background: v.$dark-alt;
            //   border-color: v.$dark-alt;
            // }
          }

          &:hover {
            background: v.$dark-alt;
            border-color: v.$dark-alt;
          }
        }
      }

      .text {
        display: block;
        margin-bottom: 15px;

        .head {
          margin-bottom: 7px;

          h3 {
            font-size: 20px;
            color: v.$dark;
            font-weight: 600;
          }
          span {
            font-size: 14px;
            margin-left: 8px;
            color: v.$dark-alt;
          }
        }
        .breadcrumb {
          gap: 10px;
        }
      }

      .link .icon {
        color: rgb(238, 111, 111);
        margin-right: 5px;
      }
    }
  }
}
